{% extends "./base.html" %}
{% load bootstrap4 %}     <!-- bootstrap4をload -->
{% block content %}
<h1>お店情報の{{ object|yesno:"更新,作成" }}</h1>

<!-- objectの有無によってupdate/createを分岐 -->
{% if object %}
<form action="{% url 'lunchmap:update' shop.pk %}" method="post" class="form">{% csrf_token %}
{% else %}
<form action="{% url 'lunchmap:create' %}" method="post" class="form">{% csrf_token %}
{% endif %}
  {% bootstrap_form form layout="horizontal" %}       <!-- bootstrapフォームを使用 -->
  <button type="submit" class="submit btn btn-outline-primary">{{ object|yesno:"更新,作成" }}</button>
  <a href="JavaScript:history.back()" class="btn btn-outline-secondary">戻る</a>
</form>
{% endblock %}